@model SendEmail.Models.EmailModel
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Send Mail</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table th, table td {
            padding: 5px;
        }
    </style>
</head>
<body>
    <div>
        <h2>SendMail</h2>
        @using (Html.BeginForm("SendMail", "Email", FormMethod.Post@*, new { enctype = "multiport/form-data" }*@))
        {
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width: 80px">
                        To:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.To)
                    </td>
                </tr>
                <tr>
                    <td>
                        Subject:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Subject)
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        Body:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Body, new { rows = "15", coloum = "10" })
                    </td>
                </tr>
                @*<tr>
                    <td>
                        Attachment:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Attachment, new { type = "file" })
                    </td>
                </tr>*@
                <tr>
                    <td>
                        Your Email:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Password, new { type = "password"})
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Send" />
                    </td>
                </tr>
            </table>
            <br />
            <span style="color:green">@ViewBag.Message</span>
        }

    </div>
</body>
</html>

